AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret
AWS_STORAGE_BUCKET_NAME=the-name-of-the-buckt
BLITLINE_APPLICATION_ID=blitline-app-id
BLITLINE_URL=http://api.blitline.com/job/BLITLINE_APPLICATION_ID
MEDIA_URL=https://youthhostel-screen.s3.amazonaws.com/upload/
STATIC_URL=https://youthhostel-screen.s3.amazonaws.com/static/